body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #242323;
}

.sendBtn1 {
  margin-top: 20px;
}

#message1 {
  background-color: whitesmoke;
  border: solid 4px black;
  border-radius: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

#message2 {
  background-color: whitesmoke;
  border: solid 4px black;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 10%;
    text-align: center;
  }

  #aside1 {
    grid-row: 1;
    margin: 30px 0px;
  }

  #dialog_box1 {
    grid-row: 2/3;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 20px;
    border-radius: 10px 10px 0px 0px;
  }

  #message1 {
    height: 200px;
    width: 90%;
  }

  #dialog_box2 {
    grid-row: 3 / 4;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 20px;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #dialog_box2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #message2 {
    height: 80px;
    width: 70%;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr 1fr;
    text-align: center;
  }

  #aside1 {
    grid-column: 1 / 2;
    grid-row: 2/3;
  }

  #dialog_box1 {
    grid-column: 2 / 3;
    grid-row: 2/3;
  }

  #message1 {
    height: 200px;
    width: 80%;
  }

  #dialog_box2 {
    grid-column: 1 /3;
    grid-row: 3 / 4;
  }

  #message2 {
    width: 40%;
    height: 80px;
  }

  .circle6 {
    visibility: hidden;
  }
}

@media screen and (min-width: 701px) {
  article {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-template-rows: 20% 1fr 1fr;
  }

  #aside1 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #dialog_box1 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  #message1 {
    height: 200px;
    width: 100%;
  }

  #dialog_box2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  #message2 {
    width: 60%;
    height: 100px;
  }

  #dialog_box2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.circle1 {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: rgb(90, 250, 90);
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: -1;
  animation-name: brillance;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brillance {
  0% {
    background-color: rgb(0, 255, 0);
    box-shadow: 0px 0px 15px rgb(0, 255, 0);
  }

  25% {
    background-color: rgb(67, 255, 67);
    box-shadow: 0px 0px 10px 15px rgb(67, 255, 67);
  }

  50% {
    background-color: rgb(123, 253, 123);
    box-shadow: 0px 0px 10px 15px rgb(123, 253, 123);
  }

  75% {
    background-color: rgb(166, 255, 166);
    box-shadow: 0px 0px 10px 15px rgb(166, 255, 166);
  }

  100% {
    background-color: rgb(206, 255, 206);
    box-shadow: 0px 0px 10px 15px rgb(206, 255, 206);
  }
}

.circle2 {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgb(241, 245, 6);
  position: absolute;
  top: 15%;
  left: 40%;
  z-index: -1;
  animation-name: brillance2;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brillance2 {
  0% {
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 0px 50px 30px rgb(251, 255, 0);
  }

  100% {
    background-color: rgb(246, 247, 189);
    box-shadow: 0px 0px 50px 30px rgb(246, 247, 189);
  }
}

.circle3 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: rgb(255, 19, 19);
  position: absolute;
  top: 55%;
  left: 35%;
  z-index: -1;
  animation-name: brillance3;
  animation-duration: 4s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brillance3 {
  0% {
    background-color: rgb(253, 2, 2);
    box-shadow: 0px 0px 50px 50px rgb(253, 2, 2);
  }

  100% {
    background-color: rgb(255, 173, 173);
    box-shadow: 0px 0px 50px 50px rgb(255, 173, 173);
  }
}

.circle4 {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: rgb(125, 70, 255);
  position: absolute;
  top: 75%;
  left: 55%;
  z-index: -1;
  animation-name: brillance4;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brillance4 {
  0% {
    background-color: rgb(76, 0, 255);
    box-shadow: 0px 0px 50px 20px rgb(76, 0, 255);
  }

  100% {
    background-color: rgb(176, 143, 255);
    box-shadow: 0px 0px 50px 20px rgb(176, 143, 255);
  }
}

.circle5 {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: rgb(40, 186, 253);
  position: absolute;
  top: 98%;
  left: 8%;
  z-index: -1;
  animation-name: brillance5;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brillance5 {
  0% {
    background-color: rgb(0, 174, 255);
    box-shadow: 0px 0px 10px 20px rgb(0, 174, 255);
  }

  100% {
    background-color: rgb(129, 215, 255);
    box-shadow: 0px 0px 10px 20px rgb(129, 215, 255);
  }
}

/* .circle6 {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: rgb(255, 6, 180);
  position: absolute;
  top: 120%;
  left: 80%;
  z-index: -1;
  animation-name: brillance6;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes brillance6 {
  0% {
    background-color: rgb(255, 6, 180);
    box-shadow: 0px 0px 10px 10px rgb(255, 6, 180);
  }

  100% {
    background-color: rgb(253, 163, 226);
    box-shadow: 0px 0px 10px 10px rgb(253, 163, 226);
  }
} */
